In [ ]:
# 뒷 부분에 활용할 패키지를 미리 import 합시다.
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [3]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

print(a.capitalize())
print(a.title())
print(a.upper())

Hi! everyone, i'm kim
Hi! Everyone, I'M Kim
HI! EVERYONE, I'M KIM

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

In [6]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

print(a.lower())
print(a.swapcase())

hi! everyone, i'm kim
Hi! eVERYONE, i'M KIM

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [7]:
# 아래에 코드를 작성하세요.

print(','.join(['1','2','3']))

1,2,3

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [11]:
# 아래에 코드를 작성하세요.
'apple'.replace('p','a').count('a')
'banana'.replace('a', 'n', 1)

'bnnana'

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [14]:
# 아래에 코드를 작성하세요.

print('    h         i      '.lstrip())
print('    h         i      '.rstrip())

h         i
    h         i

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [15]:
# 아래에 코드를 작성하세요.
'apple'.find('p')

1

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [17]:
# 아래에 코드를 작성하세요.
'apple'.index('p')
'apple'.index('y')

ValueError: substring not found

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [18]:
# 아래에 코드를 작성하세요.

In [19]:
'apple'.split('p')

['a', '', 'le']

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

```python
dir('string')
```

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [21]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [22]:
# 값을 추가해봅시다.
caffe.append('삼성화재연수원 카페')
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페']

In [23]:
# 어렵게 넣어보도록 해봅시다.
caffe[len(caffe):] = ['ediya']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'ediya']

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [25]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['카페베네'])
caffe.extend(['이디아'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'ediya', '카페베네', '카페베네', '이디아']

In [27]:
# 앞서 배운 list concatenate와 동일합니다.
caffe = caffe + ['드롭탑']
print(caffe)

['starbucks', 'tomntoms', 'hollys', '삼성화재연수원 카페', 'ediya', '카페베네', '카페베네', '이디아', '드롭탑', '드롭탑']

In [ ]:
# append와 비교해봅시다.

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [30]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe = ['이디아','카페베네']
caffe.insert(0,'hi')
print(caffe)

['hi', '이디아', '카페베네']

In [33]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(len(caffe),'bye')
print(caffe)

['hi', '이디아', '카페베네', 'bye', 'bye', 'bye']

In [ ]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [35]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

[1, 2, 3, 1, 2]

In [36]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)
print(numbers)

[2, 3, 1, 2]

In [ ]:
# 한번 더 삭제해봅시다.

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [38]:
# pop을 사용해봅시다.
a = [1, 2, 3, 4, 5, 6]

In [45]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
a.pop(0)

1

In [ ]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다.

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [47]:
# index를 사용해봅시다.
a = [1, 2, 3, 4, 5]

In [48]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
a.index(3)

2

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [49]:
# count를 사용해봅시다.
a = [1, 2, 5, 1, 5, 1]

In [59]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
b = [a.remove(1) for i in range(a.count(1))]
print(a)

[2, 5, 5]

In [ ]:
# 모두 삭제되었는지 검증해봅시다.

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [93]:
import random

lotto = random.sample(range(1,46),6)
print(lotto)

[45, 39, 18, 30, 2, 29]

In [99]:
# sort를 사용해봅시다.
lotto.sort()
print(lotto)

[2, 18, 29, 30, 39, 45]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [60]:
classroom = ['Tom', 'David', 'Justin']
print(classroom)
print(reverse(classroom))

['Tom', 'David', 'Justin']

NameError: name 'reverse' is not defined

## 복사

In [62]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [64]:
# b의 값을 바꾸고 a를 출력해봅시다.
b = original_list[:]
print(b)

[1, 2, 3]

In [100]:
# id 값을 확안해봅시다.
print(id(original_list), id(copied_list))

NameError: name 'copied_list' is not defined

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

### copy
> pythontutor를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [ ]:
# mutable - 리스트
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [ ]:
# immutable - integer
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

In [101]:
# 리스트를 복사해봅시다.

a = [1,2,3]
b = list(a)
b[0] = 5
print(a,b)

[1, 2, 3] [5, 2, 3]

In [107]:
# 다른 방법으로 복사해봅시다.
a = [1,2,3]
b = a[:]
b[0] = 12
print(a, b)

[1, 2, 3] [12, 2, 3]

In [108]:
# 얇은 복사 예시
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

NameError: name 'IFrame' is not defined

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [128]:
# 2차원 리스트를 복사해봅시다.

a = [1,2,[1,2]]
b = a[:]
b[2][0] = 3
print(a, b)

[1, 2, [3, 2]] [1, 2, [3, 2]]

In [ ]:
# 얇은 복사 - 2차원 리스트
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [129]:
# 깊은 복사를 사용해봅시다.

import copy
a = [1,2,[1,2]]
b = copy.deepcopy(a)
b[2][0] = 3
print(a, b)

[1, 2, [1, 2]] [1, 2, [3, 2]]

In [ ]:
# 깊은 복사
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [ ]:
# clear를 사용해봅시다.

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [ ]:
a = range(1,11)

In [130]:
# 기존의방법
c = []
for i in range(1,11):
    c.append(i**3)
print(c)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [131]:
# List Comprehension
c = [i**3 for i in range(1,11)]
print(c)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [ ]:
a = range(1,11)

In [133]:
# 기존의방법
d = [i for i in range(1,11) if i%2 == 0]
print(d)

[2, 4, 6, 8, 10]

In [ ]:
# List Comprehension

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [136]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [138]:
# 반복문을 활용하여 만들어주세요.
c = []
for y in girls:
    for x in boys:
        c.append((x,y))
print(c)

[('justin', 'jane'), ('david', 'jane'), ('kim', 'jane'), ('justin', 'iu'), ('david', 'iu'), ('kim', 'iu'), ('justin', 'mary'), ('david', 'mary'), ('kim', 'mary')]

In [139]:
# List comprehension을 활용하여 만들어주세요.
c = [(x,y) for x in boys for y in girls]
print(c)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [ ]:
# 반복문을 활용하여 만들어주세요.

In [ ]:
# List comprehension을 활용하여 만들어주세요.

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [ ]:
# List comprehension을 활용하여 만들어주세요.

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [141]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [142]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('apple')

'사과'

In [143]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('apple',1)

1

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [147]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.update(apple = '사과다')
print(my_dict)

{'apple': '사과다', 'banana': '바나나', 'melon': '멜론'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [153]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict['apple']
my_dict.get('banana')

'바나나'

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [ ]:
# dictionary comprehension

### dictionary comprehension 사용해보기

In [155]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [158]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
d = {k: v for k,v in dusts.items() if v > 80}
print(d)

{'대전': 82, '중국': 200}

In [160]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
du = {k: '나쁨' if v > 80 else '보통' for k,v in dusts.items() }
print(du)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [ ]:
# elif 도 사용할 수 있습니다.

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [ ]:
# add를 사용해봅시다.
a = {"사과", "바나나", "수박"}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 iterable한 값을 넣어야합니다.

In [ ]:
# update를 사용해봅시다.
a = {"사과", "바나나", "수박"}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [ ]:
# remove를 사용해봅시다.
a = {"사과", "바나나", "수박"}

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [ ]:
# discard를 사용해봅시다.
a = {"사과", "바나나", "수박"}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [ ]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [163]:
a = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

In [164]:
# list comprehension

r = []
for elem in a:
    r.append(str(elem))
print(r)

['1', '2', '3']

In [172]:
a = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.\
a = list(map(int,a))
print(a)

[1, 2, 3]

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [173]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
r = []

for i, v in enumerate(girls):
    for j, h in enumerate(boys):
        if i == j:
            r.append((v,h))
print(r)

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

* 아래와 같이 사용가능하다.

In [ ]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [ ]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [ ]:
def even(n):
    return not n%2

In [ ]:
# 다음의 list comprehension과 동일하다.